/xmonad/.xmonad/xmonad.o
/xmonad/.xmonad/xmonad.hi
/xmonad/.xmonad/xmonad.errors
/xmonad/.xmonad/xmonad-x86_64-linux
/fish/.config/fish/fishd.LT-3Q446M2
/xmonad/.xmonad/xmonad.state
/fish/.config/fish/fishd.824a14a57c53
/ranger/.config/ranger/bookmarks
/ranger/.config/ranger/history
/ranger/.config/ranger/tagged
/nvim/.config/nvim/.netrwhist
/qutebrowser/.config/qutebrowser/qsettings/QtProject.conf
